<% if @standards.blank? %>
<p>There is no fields.</p>
<% else %>
<p>Available standards</p>

<ul id = "standards">
   <% @standards.each do |s| %>
   <li><%= link_to s.description, {:action => 'show', :id => s.id} -%>
   	
   	<b> <%= link_to 'Edit', {:action => "edit",
   		:id => s.id} %></b>
    <b> <%= link_to "Delete", {:action => 'delete', :id => s.id},
      :confirm => "Are you sure you want to delete this item?" %></b>
   
   </li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new fields", {:action => 'new' }%></p>