<p>
	 <strong>SubjectName: </strong> <%= @subject.SubjectName %><br /> 
	 
     <strong>Created Date:</strong> <%= @subject.created_at %><br />
</p>
<hr />

<%= link_to 'Back', {:action => 'index'} %>