<p>
	 <strong>SectionName: </strong> <%= @section.sectionName %><br /> 
	 
     <strong>Created Date:</strong> <%= @section.created_at %><br />
</p>
<hr />

<%= link_to 'Back', {:action => 'index'} %>